@using POS.CobaLagi.Repository;
@model ProductEntity

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Edit Product</h2>
<form asp-controller="Product" asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="ProductName"></label>
        <input asp-for="ProductName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="SupplierId"></label>
        <input asp-for="SupplierId" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <input asp-for="CategoryId" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="QuantityPerUnit"></label>
        <input asp-for="QuantityPerUnit" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="UnitPrice"></label>
        <input asp-for="UnitPrice" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="UnitsInStock"></label>
        <input asp-for="UnitsInStock" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="UnitsOnOrder"></label>
        <input asp-for="UnitsOnOrder" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="RecorderLevel"></label>
        <input asp-for="RecorderLevel" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Discountinued">Discountinued</label>
        <select class="form-select" aria-label="Set Discountinued" id="Discountinued" name="Discountinued">
            <option value="false">False</option>
            <option value="true">True</option>
            <span asp-validation-for="Discountinued" class="text-danger"></span>
        </select>   
    </div>

    <div class="form-footer">
        <button type="submit" class="btn btn-warning">Update</button>
    </div>
</form>