@using POS.CobaLagi.Repository;
@model IEnumerable<ProductEntity>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Product Get All</h2>
<a class="btn btn-sm btn-primary" asp-area="" role="button" asp-controller="Product" asp-action="Create" id="btn-add">Create New Product</a>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>ProductName</th>
            <th>SupplierId</th>
            <th>CategoryId</th>
            <th>QuantityPerUnit</th>

            <th>UnitPrice</th>
            <th>UnitsInStock</th>
            <th>UnitsOnOrder</th>

            <th>RecorderLevel</th>
            <th>Discountinued</th>
            <th>OrderDetail</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductName</td>
                <td>@item.SupplierId</td>
                <td>@item.CategoryId</td>
                <td>@item.QuantityPerUnit</td>

                <td>@item.UnitPrice</td>
                <td>@item.UnitsInStock</td>
                <td>@item.UnitsOnOrder</td>

                <td>@item.RecorderLevel</td>
                <td>@item.Discountinued</td>
                <td>
                    @foreach (var data in item.OrderDetails)
                    {
                        <h6>@data.Discount</h6>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">Detail</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="my-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>

        </div>
    </div>
</div>

@section Scripts
    {
        <script type="text/javascript">
            $("#btn-add").on("click", function (e) {
                e.preventDefault();
                //alert("Ah ... kamu kok sentuh aku");
                $.ajax({
                    url: "/Product/AddProductModal",
                    type:"GET",
                    dataType:"HTML",
                    success: function(data) {
                        $("#my-modal").find(".modal-body").html(data);
                        $("#my-modal").modal("show");
                    }
                });        
            });</script>
}