@using POS.CobaLagi.Repository;
@model EmployeeEntity
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Detail Employee</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>LastName</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>FirstName</th>
        <td>@Model.FirstName</td>
    </tr>


    <tr>
        <th>Title</th>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <th>TitleOfCourtesy</th>
        <td>@Model.TitleOfCourtesy</td>
    </tr>
    <tr>
        <th>BirthDate</th>
        <td>@Model.BirthDate</td>
    </tr>


    <tr>
        <th>HireDate</th>
        <td>@Model.HireDate</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>@Model.Address</td>
    </tr>
        <tr>
        <th>City</th>
        <td>@Model.City</td>
    </tr>


    <tr>
        <th>Region</th>
        <td>@Model.Region</td>
    </tr>
    <tr>
        <th>PostalCode</th>
        <td>@Model.PostalCode</td>
    </tr>

    <tr>
        <th>Country</th>
        <td>@Model.Country</td>
    </tr>
    <tr>
        <th>HomePhone</th>
        <td>@Model.HomePhone</td>
    </tr>

    <tr>
        <th>Extension</th>
        <td>@Model.Extension</td>
    </tr>
    <tr>
        <th>Notes</th>
        <td>@Model.Notes</td>
    </tr>

    <tr>
        <th>ReportTo</th>
        <td>@Model.ReportsTo</td>
    </tr>

    <tr>
        <th>Orders</th>
        <td>
            @foreach (var data in Model.Orders)
            {
                <h6>@data.ShipName</h6>
            }
        </td>
    </tr>
    <tr>
        <th>ID Orders</th>
        <td>
            @foreach (var data in Model.Orders)
            {
                <h6>@data.Id</h6>
            }
        </td>
    </tr>
</table>

<a class="btn btn-sm btn-primary" asp-area="" asp-controller="Employee" asp-action="Employee">Back</a>