@using POS.CobaLagi.Repository;
@model IEnumerable<EmployeeEntity>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Employee Get All</h2>
<a class="btn btn-sm btn-primary" asp-area="" asp-controller="Employee" asp-action="Create" id="btn-add">Create New Employee</a>
<div class="container">

    <table class="table table-responsive table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>LastName</th>
            <th>FirstName</th>
            <th>Title</th>
            <th>TitleOfCourtesy</th>

            <th>BirthDate</th>
            <th>HireDate</th>
            <th>Address</th>
            <th>City</th>
            <th>Region</th>

            <th>PostalCode</th>
            <th>Country</th>
            <th>HomePhone</th>
            <th>Extension</th>
            <th>Notes</th>
            <th>ReportTo</th>

            <th>Orders</th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.LastName</td>
                <td>@item.FirstName</td>
                <td>@item.Title</td>
                <td>@item.TitleOfCourtesy</td>

                <td>@item.BirthDate</td>
                <td>@item.HireDate</td>
                <td>@item.Address</td>
                <td>@item.City</td>
                <td>@item.Region</td>

                <td>@item.PostalCode</td>
                <td>@item.Country</td>
                <td>@item.HomePhone</td>
                <td>@item.Extension</td>
                <td>@item.Notes</td>
                <td>@item.ReportsTo</td>
                <td>
                    @foreach (var data in item.Orders)
                    {
                        <h6>@data.ShipName</h6>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-success">Detail</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>


<div id="my-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>

        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $("#btn-add").on("click", function (e) {
            e.preventDefault();
            //alert("Ah ... kamu kok sentuh aku");
            $.ajax({
                url: "Employee/Modal",
                type: "GET",
                dataType: "HTML",
                success: function (data) {
                    $("#my-modal").find(".modal-body").html(data);
                    $("#my-modal").modal("show");
                }
            });
        });</script>
}