@using POS.CobaLagi.Repository;
@model CategoryEntity
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Detail Category</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@Model.CategoryName</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <th>Product</th>
        <td>
            @foreach (var data in Model.Products)
            {
                <h6>@data.ProductName</h6>
            }
        </td>
    </tr>
    <tr>
        <th>ID Product</th>
        <td>
            @foreach (var data in Model.Products)
            {
                <h6>@data.Id</h6>
            }
        </td>
    </tr>
</table>

<a class="btn btn-sm btn-primary" asp-area="" asp-controller="Category" asp-action="Index">Back</a>