@using POS.CobaLagi.Repository;
@model CategoryEntity

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Edit Category</h2>
<form asp-controller="Category" asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />

    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="CategoryName"></label>
        <input asp-for="CategoryName" class="form-control" />
        <span asp-validation-for="CategoryName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-footer">
        <button type="submit" class="btn btn-warning">Update</button>
    </div>
</form>