@using POS.CobaLagi.ViewModel;
@model SupplierModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Add Supplier</h2>
<form asp-controller="Supplier" asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="CompanyName"></label>
        <input asp-for="CompanyName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ContactName"></label>
        <input asp-for="ContactName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ContactTitle"></label>
        <input asp-for="ContactTitle" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Region"></label>
        <input asp-for="Region" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PostalCode"></label>
        <input asp-for="PostalCode" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Fax"></label>
        <input asp-for="Fax" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Country"></label>
        <input asp-for="Country" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Homepage"></label>
        <input asp-for="Homepage" class="form-control" />
    </div>

    <div class="form-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>