@using POS.CobaLagi.Repository;
@model SupplierEntity
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Detail Supplier</h2>
<table class="table table-bordered">
    <tr>
        <th>CompanyName</th>
        <td>@Model.CompanyName</td>
    </tr>
    <tr>
        <th>ContactName</th>
        <td>@Model.ContactName</td>
    </tr>
    <tr>
        <th>ContactTitle</th>
        <td>@Model.ContactTitle</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <th>City</th>
        <td>@Model.City</td>
    </tr>
        <tr>
        <th>Region</th>
        <td>@Model.Region</td>
    </tr>
    <tr>
        <th>PostalCode</th>
        <td>@Model.PostalCode</td>
    </tr>
    <tr>
        <th>Country</th>
        <td>@Model.Country</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <th>Fax</th>
        <td>@Model.Fax</td>
    </tr>
    <tr>
        <th>Homepage</th>
        <td>@Model.HomePage</td>
    </tr>
    <tr>
        <th>Product</th>
        <td>
            @foreach (var data in Model.Products)
            {
                <h6>@data.ProductName</h6>
            }
        </td>
    </tr>
    <tr>
        <th>ID Product</th>
        <td>
            @foreach (var data in Model.Products)
            {
                <h6>@data.Id</h6>
            }
        </td>
    </tr>
</table>

<a class="btn btn-sm btn-primary" asp-area="" asp-controller="Supplier" asp-action="List">Back</a>