@using POS.CobaLagi.Repository;
@model IEnumerable<SupplierEntity>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Supplier</h2>
<a class="btn btn-sm btn-primary" asp-area="" asp-controller="Supplier" asp-action="CreateSupplier" id="btn-add">Create New Supplier</a>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>CompanyName</th>
            <th>ContactName</th>
            <th>ContactTitle</th>

            <th>Address</th>
            <th>City</th>
            <th>Region</th>

            <th>PostalCode</th>
            <th>Country</th>
            <th>Phone</th>

            <th>Fax</th>
            <th>Homepage</th>
            <th>Products</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CompanyName</td>
                <td>@item.ContactName</td>
                <td>@item.ContactTitle</td>

                <td>@item.Address</td>
                <td>@item.City</td>
                <td>@item.Region</td>

                <td>@item.PostalCode</td>
                <td>@item.Country</td>
                <td>@item.Phone</td>

                <td>@item.Fax</td>
                <td>@item.HomePage</td>
                <td>
                    @foreach (var data in item.Products)
                    {
                        <h6>@data.ProductName</h6>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">Detail</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="my-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Supplier</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>

        </div>
    </div>
</div>

@section Scripts
    {
        <script type="text/javascript">
            $("#btn-add").on("click", function (e) {
                e.preventDefault();
                //alert("Ah ... kamu kok sentuh aku");
                $.ajax({
                    url: "/Supplier/CreateSupplierModal",
                    type:"GET",
                    dataType:"HTML",
                    success: function(data) {
                        $("#my-modal").find(".modal-body").html(data);
                        $("#my-modal").modal("show");
                    }
                });        
            });</script>
}